h1 {
	color: red;
	text-transform: capitalize;
	text-align: center;
	font-size: 40px;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

#ful, #edu, #rel, #pro, #ski, #act {
	font-weight: bold;
	font-size: 20px;
}

p {
	color: black;
}

h3 {
	font-size: 10px;
}

h2 {
	font-size: 20px;
}